body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    line-height: 1.5;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #404BBF;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.nav-web {
    color: #2E2F42;  
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.nav-link {
    color: #2E2F42;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.nav-link:hover {
    color: #404BBF;
}

.nav-link:active {
    color: #404BBF;
}

.page-address {
    font-style: normal;
}

.page-addressmp a {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.page-addressmp:focus,
.page-addressmp:hover {
    color: #404BBF;
}

.section-first {
    background-color: #2E2F42;
}

.section-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.button-order {
    font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
}

.button-focus,
.button-order:hover {
    background-color: #404BBF;
}

.features-htxt {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.features-ptxt {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.page-section-3 {
    background-color: #F4F4FD;
}

.section-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
}

.page-txt-bord {
    background-color: #FFFFFF;
}

.txt-icon {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.p-icon {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
.section-team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.project-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.project-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #4D5AE5;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.nav-web {
    color: #2E2F42;  
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.nav-link {
    color: #2E2F42;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    
}

.nav-link:hover {
    color: #404BBF;
}

.nav-link:active {
    color: #404BBF;
}

.page-address {
    font-style: normal;
}

.page-addressmp a {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.page-addressmp:focus,
.page-addressmp:hover {
    color: #404BBF;
}

.section-first {
    padding-top:72px;
    background-color: #2E2F42;
    width: 1440px;
    height: 600px;
}

.section-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.button-orde {
    font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
}

.button-orde:hover,
.button-orde:focus {
    background-color: #404BBF;
}
.section-team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.project-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.project-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.page-header {
    letter-spacing: 0.02em;
    color: #404bbf;

}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;


}
.span-logo {
    color:#f4f4fd;
}
.pfoot {
    color: #F4F4FD;
    letter-spacing: 0.02em


}
.footerf {
    background-color:#2E2F42;
}
